/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2017, 6:22:26 PM
    Author     : coderkan
*/

html{
    width: 100%;
}

body{
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Roboto', sans-serif;
}

a{
    color: #48b983;
}

a:hover{
    color: #40a776;
}

header._name{
   
}

header h1 a{
   /* color: #eee;*/
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
}

header h1{
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 0 0 4px;
}


